<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" debug="true">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>@log.path@trade-app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{26}: %msg%n</Pattern>
        </encoder>
    </appender>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread]%logger{56}.%method:%L -%msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="logcenter" class="com.xianjinxia.logcenter.log.logback.CatLogbackAppender"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <logger name="c.n.d.s.r.a" level="WARN"/>

    <root level="@logback.loglevel@">
	    <appender-ref ref="CONSOLE" />
        <appender-ref ref="@logback.output@" />
        <appender-ref ref="logcenter" />
    </root>

</configuration>
