<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianjinxia.trade.shared.mapper.TransferRequestMapper">
  <resultMap id="BaseResultMap" type="com.xianjinxia.trade.shared.domain.TransferRequest">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="req_no" jdbcType="VARCHAR" property="reqNo" />
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="appyle_time" jdbcType="TIMESTAMP" property="appyleTime" />
    <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, req_no, source_id, source_type, status, appyle_time, confirm_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transfer_request
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByReqNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from transfer_request
    where req_no = #{reqNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from transfer_request
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xianjinxia.trade.shared.domain.TransferRequest">
    insert into transfer_request (id, req_no, source_id, 
      source_type, status, appyle_time, 
      confirm_time)
    values (#{id,jdbcType=BIGINT}, #{reqNo,jdbcType=VARCHAR}, #{sourceId,jdbcType=VARCHAR}, 
      #{sourceType,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{appyleTime,jdbcType=TIMESTAMP}, 
      #{confirmTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xianjinxia.trade.shared.domain.TransferRequest" keyProperty="id" useGeneratedKeys="true">
    insert into transfer_request
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="reqNo != null">
        req_no,
      </if>
      <if test="sourceId != null">
        source_id,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="appyleTime != null">
        appyle_time,
      </if>
      <if test="confirmTime != null">
        confirm_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="reqNo != null">
        #{reqNo,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="appyleTime != null">
        #{appyleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null">
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByReqNoStatus">
    update transfer_request
    <set>
        status = #{curStatus,jdbcType=VARCHAR},
        confirm_time = now()
    </set>
    where req_no = #{reqNo,jdbcType=VARCHAR}
    and status = #{preStatus,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xianjinxia.trade.shared.domain.TransferRequest">
    update transfer_request
    <set>
      <if test="reqNo != null">
        req_no = #{reqNo,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="appyleTime != null">
        appyle_time = #{appyleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null">
        confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xianjinxia.trade.shared.domain.TransferRequest">
    update transfer_request
    set req_no = #{reqNo,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      appyle_time = #{appyleTime,jdbcType=TIMESTAMP},
      confirm_time = #{confirmTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>